body {
    margin: 0;
    font-family: sans-serif;
    /* color: aqua; */
}

table, td, th {
    border: 1px solid;
}

table {
    width: 90%;
    border-collapse: collapse;
}

th, td{
    padding: 15px;
    text-align: center;
}

tr:hover {background-color: coral;}

div {
    width:800px; margin:0 auto;
}

form {
    align-content: center;
    margin-top: 20px;
}

#content {
    width:70%;
}